.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6200EE;
    padding: 1rem;
    color: white;
  }
  
  .navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-center {
    flex: 1;
    justify-content: center;
    text-align: center;
  }
  
  .language-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .navbar-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 47px;
    right: 0;
    background-color: #ff9407;
    width: auto;
    padding: 1rem;
    border-bottom-left-radius: 10px;
  }
  
  .navbar-menu li {
    margin: 0.5rem 0;
  }
  
  .navbar-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .language-toggle {
    background-color: black;
    color: white;
  }